/Practice/Practice/obj/Release/Practice.pdb
/Practice/Practice/obj/Release/Practice.exe
/Practice/Practice/obj/Release/Practice.csprojAssemblyReference.cache
/Practice/.vs/Practice/v16/.suo
/Practice/Practice/bin/Release/Practice.exe
/Practice/Practice/bin/Release/Practice.pdb
/Practice/Practice/obj/Release/Practice.csproj.CoreCompileInputs.cache
/Practice/Practice/obj/Release/Practice.csproj.FileListAbsolute.txt
