/Practice/Practice/obj/Release/Practice.pdb
/Practice/Practice/obj/Release/Practice.exe
/Practice/Practice/obj/Release/Practice.csprojAssemblyReference.cache
/Practice/.vs/Practice/v16/.suo
/Practice/Practice/bin/Release/Practice.exe
/Practice/Practice/bin/Release/Practice.pdb
/Practice/Practice/obj/Release/Practice.csproj.CoreCompileInputs.cache
/Practice/Practice/obj/Release/Practice.csproj.FileListAbsolute.txt
/Practice/.vs/Practice/v16/.suo
/Practice/Practice/bin/Debug/Practice.exe
/Practice/Practice/bin/Debug/Practice.pdb
/Practice/Practice/obj/Debug/Practice.csproj.CoreCompileInputs.cache
/Practice/Practice/obj/Debug/Practice.csprojAssemblyReference.cache
/Practice/Practice/obj/Debug/Practice.exe
/Practice/Practice/obj/Debug/Practice.pdb
/Practice/Practice/Practice.csproj
/Practice/Practice/obj/Debug/Practice.csprojAssemblyReference.cache
/Practice/.vs/Practice/v16/.suo
/Practice/.vs/Practice/v16/.suo
/Practice/Practice/bin/Debug/Practice.pdb
/Practice/Practice/obj/Debug/Practice.csproj.CoreCompileInputs.cache
/Practice/Practice/obj/Debug/Practice.csprojAssemblyReference.cache
/Practice/Practice/obj/Debug/Practice.exe
/Practice/Practice/obj/Debug/Practice.pdb
/Practice/Practice/Practice.csproj
/Practice/Practice/obj/Debug/Practice.pdb
/Practice/Practice/obj/Debug/Practice.exe
/Practice/Practice/obj/Debug/Practice.csproj.AssemblyReference.cache
/Practice/Practice/bin/Debug/Practice.pdb
/Practice/Practice/bin/Debug/Practice.exe
/Practice/Practice/bin/Debug/nunit_random_seed.tmp
/Practice/.vs/Practice/v16/TestStore/0/000.testlog
/Practice/.vs/Practice/v16/.suo
/Practice/.idea/.idea.Practice/.idea/indexLayout.xml
/Practice/Practice/bin/Debug/Practice.exe
/Practice/Practice/bin/Debug/Practice.pdb
/Practice/Practice/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Practice/Practice/obj/Debug/Practice.csproj.CoreCompileInputs.cache
/Practice/Practice/obj/Debug/Practice.exe
/Practice/Practice/obj/Debug/Practice.pdb
/Practice/Practice/Practice.csproj
/Practice/Practice/bin/Debug/Practice.exe
