*.exe
*.pdb
*.cache
*.testlog
*.csproj
*.tmp
*.xml
Practice/Practice/Practice.csproj
/Practice/Practice/Practice.csproj
Practice/Practice/Practice.csproj
*csproj
/Practice/Practice/bin/Debug/Practice.exe
/Practice/Practice/bin/Debug/Practice.pdb
